@supports not (font-variation-settings: normal) {
  /* greek-ext */
  @font-face {
    font-family: 'Camphor Pro';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('../fonts/0.woff2') format('woff2');
    unicode-range: U+1F00-1FFF;
  }
  /* greek */
  @font-face {
    font-family: 'Camphor Pro';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('../fonts/1.woff2') format('woff2');
    unicode-range: U+0370-03FF;
  }
  /* vietnamese */
  @font-face {
    font-family: 'Camphor Pro';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('../fonts/2_1.woff2') format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Camphor Pro';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('../fonts/3.woff2') format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Camphor Pro';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('../fonts/4.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* greek-ext */
  @font-face {
    font-family: 'Camphor Pro';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/0_1.woff2') format('woff2');
    unicode-range: U+1F00-1FFF;
  }
  /* greek */
  @font-face {
    font-family: 'Camphor Pro';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/1_1.woff2') format('woff2');
    unicode-range: U+0370-03FF;
  }
  /* vietnamese */
  @font-face {
    font-family: 'Camphor Pro';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/2.woff2') format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Camphor Pro';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/3_1.woff2') format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Camphor Pro';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/4_1.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* greek-ext */
  @font-face {
    font-family: 'Camphor Pro';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('../fonts/0_3.woff2') format('woff2');
    unicode-range: U+1F00-1FFF;
  }
  /* greek */
  @font-face {
    font-family: 'Camphor Pro';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('../fonts/1_2.woff2') format('woff2');
    unicode-range: U+0370-03FF;
  }
  /* vietnamese */
  @font-face {
    font-family: 'Camphor Pro';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('../fonts/2_4.woff2') format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Camphor Pro';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('../fonts/3_2.woff2') format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Camphor Pro';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('../fonts/4_2.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* greek-ext */
  @font-face {
    font-family: 'Camphor Pro';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('../fonts/0_4.woff2') format('woff2');
    unicode-range: U+1F00-1FFF;
  }
  /* greek */
  @font-face {
    font-family: 'Camphor Pro';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('../fonts/1_3.woff2') format('woff2');
    unicode-range: U+0370-03FF;
  }
  /* vietnamese */
  @font-face {
    font-family: 'Camphor Pro';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('../fonts/2_3.woff2') format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Camphor Pro';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('../fonts/3_3.woff2') format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Camphor Pro';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('../fonts/4_3.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
}

@supports (font-variation-settings: normal) {
  /* greek-ext */
  @font-face {
    font-family: 'Camphor Pro';
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url('../fonts/0_2.woff2') format('woff2');
    unicode-range: U+1F00-1FFF;
  }
  /* greek */
  @font-face {
    font-family: 'Camphor Pro';
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url('../fonts/1_4.woff2') format('woff2');
    unicode-range: U+0370-03FF;
  }
  /* vietnamese */
  @font-face {
    font-family: 'Camphor Pro';
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url('../fonts/2_2.woff2') format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Camphor Pro';
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url('../fonts/3_4.woff2') format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Camphor Pro';
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url('../fonts/4_4.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
}

body {
  font-family: 'Camphor Pro', sans-serif;
}

@supports (font-variation-settings: normal) {
  @font-face {
    font-family: 'Xiaomi Brand';
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url('../fonts/Brand.woff2') format('woff2');
  }

  body .mi-brand {
    font-family: 'Xiaomi Brand', 'Camphor Pro', sans-serif;
  }

  body .mi-brand.mi-brand--xiaomi,
  body .mi-brand.mi-brand--poco {
    font-weight: bold !important;
  }

  body .mi-brand.mi-brand--redmi {
    font-weight: normal !important;
  }
}